@import "tailwindcss";

.shine-text {
    font-size: 72px;
    font-weight: 100;
    letter-spacing: 0.5px;

    /* Base text color */
    color: #988BFF;

    /* Thin white premium shine */
    background-image: linear-gradient(
      115deg,
      #988BFF 46%,
      #ffffff 50%,
      #988BFF 54%
    );

    background-size: 220% 100%;
    background-position: 0% 50%;

    /* Mask text */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: thinShine 2.6s cubic-bezier(.4,0,.2,1) infinite reverse;
  }

  .shine-overlay {
    background-image: linear-gradient(
      115deg,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 54%
    );

    background-size: 220% 100%;
    background-position: 0% 50%;

    animation: thinShine 2.6s cubic-bezier(.4,0,.2,1) infinite reverse;
    pointer-events: none;
  }

  @keyframes thinShine {
    0% {
      background-position: 0% 50%;
    }
    55% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
